<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= site_title %></title>
    <link rel="stylesheet" href="<%= admin_static_path(@conn, "/bootstrap/css/bootstrap.min.css") %>">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="<%= admin_static_path(@conn, "/dist/css/AdminLTE.min.css") %>">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="<%= admin_static_path(@conn, "/dist/css/skins/_all-skins.min.css") %>">
    <!-- iCheck -->
    <link rel="stylesheet" href="<%= admin_static_path(@conn, "/plugins/iCheck/flat/blue.css") %>">
    <!-- Morris chart -->
    <!-- jvectormap -->
    <!-- Date Picker -->
    <link rel="stylesheet" href="<%= admin_static_path(@conn, "/plugins/datepicker/datepicker3.css") %>">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="<%= admin_static_path(@conn, "/plugins/daterangepicker/daterangepicker-bs3.css") %>">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="<%= admin_static_path(@conn, "/css/ex_admin.css") %>">

    <!-- jQuery 2.1.4 -->
    <script src="<%= admin_static_path(@conn, "/plugins/jQuery/jQuery-2.1.4.min.js") %>"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <% resource_label = ExAdmin.Utils.get_resource_label(@conn) |> String.downcase %>
  <% color = Application.get_env :ex_admin, :skin_color, :blue %>
  <body class="index admin_<%= resource_label %> active_admin logged_in skin-<%= color %> sidebar-mini hold-transition">
    <div class="wrapper">
      <%= render ExAdmin.AdminLte2.LayoutView, "header.html", conn: @conn, scope_counts: assigns[:scope_counts] %>
      <div class="content-wrapper">
        <%= render ExAdmin.AdminLte2.LayoutView, "title_bar.html", conn: @conn, resource: @resource %>

        <section class="content">
          <%
            {sidebars?, _klass} = check_for_sidebars(@conn, @filters, @defn)
            main_width = if sidebars?, do: 9, else: 12
          %>
          <div class="row">
            <div class="col-lg-<%= main_width %>">
              <%= ExAdmin.AdminLte2.LayoutView.flashes(@conn) %>
              <%= render @view_module, @view_template, assigns %>
            </div>
            <%= if sidebars? do %>
              <div class="col-lg-3 sidebar_section">
                <%= ExAdmin.Filter.filter_view(@conn, @filters, @defn) %>
                <%= ExAdmin.Sidebar.sidebar_view(@conn, @defn, @resource) %>
              </div>
            <% end %>
          </div>
        </section>
      </div>
      <footer id="footer" class="main-footer" style="font-size: 90%">
        Powered by ExAdmin. Licensed by&nbsp;
        <a href="http://emetrotel.com" target="_blank">E-MetroTel</a>
        &nbsp;&copy 2015-2016.
      </footer>
    </div>
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <script src='<%= admin_static_path(@conn, "/bootstrap/js/bootstrap.min.js") %>'></script>

    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="<%= admin_static_path(@conn, "/plugins/daterangepicker/daterangepicker.js") %>"></script>
    <!-- datepicker -->
    <script src="<%= admin_static_path(@conn, "/plugins/datepicker/bootstrap-datepicker.js") %>"></script>
    <!-- Slimscroll -->
    <script src="<%= admin_static_path(@conn, "/plugins/slimScroll/jquery.slimscroll.min.js") %>"></script>
    <!-- FastClick -->
    <script src="<%= admin_static_path(@conn, "/plugins/fastclick/fastclick.min.js") %>"></script>

    <script src='<%= admin_static_path(@conn, "/js/active_admin.js") %>'></script>
    <script src='<%= admin_static_path(@conn, "/js/best_in_place.js") %>'></script>
    <script src='<%= admin_static_path(@conn, "/js/best_in_place.purr.js") %>'></script>
    <script src='<%= admin_static_path(@conn, "/js/jquery-ujs.js.js") %>'></script>
    <script src='<%= admin_static_path(@conn, "/js/active_admin_lib.js") %>'></script>
    <script src='<%= admin_static_path(@conn, "/js/ex_admin.js") %>'></script>
    <!-- AdminLTE App -->
    <script src="<%= admin_static_path(@conn, "/dist/js/app.min.js") %>"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  </body>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <script>require("web/static/js/app")</script>
  <script type="text/javascript">
    $(function() {
      $('#theme-selector').change(function(e) {
        let val = $(this).val()
        console.log('selector change', val);
        $.ajax('/admin/select_theme/'+val)
      });
    });
  </script>
</html>
