.columns
  .column{style: "width: 49.0%; margin-right: 2%;"}
    .panel
      %h3 Info
      .panel_contents
        %p Welcome to Notifier

  .column{style: "width: 49.0%;"}
    .panel
      %h3 News
      .panel_contents
        %p No news
